<!DOCTYPE html>
<html lang="en" >
<head style="background-color:pink">
  <title>Bootstrap Example</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>


<nav class="navbar navbar-fixed-top navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <pre>    </pre>
<a class="navbar-brand" href="#">
    <img src="/media/i1.png" alt="logo" style="width:400px;">
</a>
    <pre>            </pre>
<a class="navbar-brand" href="#">
    <img src="/media/i.png" alt="logo" style="width:180px;">
</a>
    <pre>         </pre>
<a class="navbar-brand" href="#">
    <img src="/media/i2.png" alt="logo" style="width:60px;">
    <h6  style="text-indent:-50px;">Schedule an appointment</h6>
</a><pre>      </pre>
<a class="navbar-brand" href="#">
    <img src="/media/i3.png" alt="logo" style="width:60px;">
    <h6  style="text-indent:-40px;">Request an expertcall</h6> 
</a><pre>      </pre>
<a class="navbar-brand" href="#">
    <img src="/media/i5.png" alt="logo" style="width:60px;">
    <h6  style="text-indent:-10px;">Ask an expert</h6>
</a> 
</nav>


{%block content%}
{%endblock%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->


<!-- Footer -->
	
<section id="footer" style="background-color:black; font-weight:bold; width:100%;">
<div class="container">

<div class="row text-center text-xs-center text-sm-left text-md-left">

<div class="col-xs-12 col-sm-4 col-md-4">

<h5 style="color:blue;"><b><u>COMPANY</u></b></h5>

<ul class="list-unstyled quick-links">
<li><a href="/terms"><i class="fa fa-angle-double-right"></i>Terms&conditions</a></li>

<li><a href="/disclaimer"><i class="fa fa-angle-double-right"></i>Disclaimer</a></li>

<li><a href="/policy"><i class="fa fa-angle-double-right"></i>Privacy Policies</a></li>

<li><a href="/cancel"><i class="fa fa-angle-double-right"></i>Cancellation&Refund Policy</a></li>

<li><a href="/dec"><i class="fa fa-angle-double-right"></i>Declaration</a></li>

</ul>

</div>


<div class="col-xs-12 col-sm-4 col-md-4">

<h5 style="color:blue;"><b><u>TEJA VISAS</b></u></h5>
<ul class="list-unstyled quick-links">
<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>ProfileEvaluation</a></li>

<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Schedule an Appointment</a></li>

<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Ask an Expert</a></li>
<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Telephone Councelling</a></li>
<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>jobss</a></li>

</ul>
</div>



<div class="col-xs-12 col-sm-4 col-md-4">
<h5 style="color:blue;"><b><u>CENTRALIZED PROCESSING CENTRE</b></u></h5>
<p style="color:lightblue;">
Ulisettivarimeraka ; #104, Highest Floor,
shankaraguptham Main Road
lakkavaram ANDHRA - 533254
</p>
</div>



</div>

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
<ul class="list-unstyled list-inline social text-center">
<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a>
</li>
<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>

</ul>
</div>
</hr>
</div>
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
<p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>

<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
</div>
</hr>
</div>
</div>
</section>
<!-- ./Footer -->
</html>