{%extends 'base.html'%}
{%block content%}

<style>
body
{
font-weight:bold;
}
div{
  padding-right:80px;
  padding-left: 80px;
}
</style>
<body>
<div>
<h2 style="background-color:lightblue;">CANCELLATION AND REFUND POLICY</h2>
<h5>Client Login<h5>          
<h5>Register Complaint</h5>
<h5>Cancellation & Refund Policy</h5>

<p>The client discerns and accepts that the total invoice amount (bill value) will incorporate the BRIGADE OVERSEAS CAREERS CONSULTANCY SER PVT LTD consultation fee and the applicable service tax (18.0%). However, the refund would be computed only on the BRIGADE OVERSEAS CAREERS CONSULTANCY SER PVT LTD consultation fee.

In case of disallowance by the Visa and Immigration Authorities, Brigade Overseas Careers Consultancy ser Pvt Ltd will rebate the applicable amount as per stated in the agreement. The rebate will be done within 60 working days after the client presents the Refund Claim Form to Brigade Overseas Careers Consultancy ser Pvt Ltd The client has to enclose a duplicate of the rejection letter from the Authority backing the Refund Claim. If client is unable to either enclose a copy of the rejection letter or rejection stamp on the client's passport, Brigade Overseas Careers Consultancy ser Pvt Ltd will not rebate applicable refund amount. Client also has to attach the refund request form which is a copy of his / her receipt for payment made to Brigade Overseas Careers Consultancy ser Pvt Ltd. Unable to attach these documents will make the client unqualified for the rebate.

The company is not liable for the setbacks in time caused by third party services such as courier services etc. Client cannot claim a rebate of service charges based on such external factors.

Brigade Overseas Careers Consultancy ser Pvt Ltd is not liable for rebate of any fees or other amounts / charges that have been paid to any Assessing Bodies, Immigration Authorities, Embassy / Consulate / High Commission in the event of the applicant facing rejection for visa / immigration, or in any case of rejection or non acceptance of his / her application at any stage by any authority. The fee for registration and processing is only inclusive of charges towards the services accomplished by Brigade Overseas Careers Consultancy ser Pvt Ltd is not inclusive of any application or assessing fees. The applicant accepts to pay the entire additional fees required, as applicable, during the processing.

In case of rejection from any assessing bodies, Immigration Authorities, Embassy / Consulate / High Commission of any country due to Brigade Overseas Careers Consultancy ser Pvt Ltd mistake, then Brigade Overseas Careers Consultancy ser Pvt Ltd will be liable to rebate full amount charged as "Brigade Overseas Careers Consultancy ser Pvt Ltd Consultation Fee" from the client but at the same time Brigade Overseas Careers Consultancy ser Pvt Ltd will not be responsible to refund the money paid to the assessing bodies, Immigration Authorities, Embassy / Consulate / High Commission by the client.

If the client has made the payment online, he / she thereby accepts that he/she will not withdraw, or is not entitled to charge back the amount, without prior approval of Brigade Overseas Careers Consultancy ser Pvt Ltd, in case of money paid by any mode. This includes EBS, except otherwise following the norms of refund as mentioned in the agreement and the procedure prescribed by law prevailing at that time in the State of Andhra Pradesh, under the Jurisdiction of Hyderabad.

If the client has submitted the money through Credit Card or Net Banking, the applicant willingly undertakes that he will not dispute the payment or notify the designated bank for charge back, insist the bank to withhold or cancel the payment made to Brigade Overseas Careers Consultancy ser Pvt Ltdby the applicant. The Applicant further commits to apprise his banker that the payment made to the Company is genuine, and the transaction is an exception for his request to cancel or charge back the payment in his favour, inclusive of misuse and card loss cases either by him or through any one. The applicant adheres to cooperate with Brigade Overseas Careers Consultancy ser Pvt Ltd in this aspect in case Brigade Overseas Careers Consultancy ser Pvt Ltd wishes to defend / represent the matter in their favour before any bank / authority.

The Service Charges of Brigade Overseas Careers Consultancy ser Pvt Ltd have no reference to the market charges and do not have to be equivalent to the contemporaries, as they are contemporary only to the company standards to which the client agreed. Any claims after the registration, of being too extravagant, would not be entertained and the applicant would have no right to challenge the same as it was explained and expressed through all the sources of information, and the client has been persuaded before registering.

The applicant agrees that the immigration process includes showing enough funds, if applicable, which vary from country to country, and the process / category the applicant applies to. The applicant undertakes to meet such prerequisites as desired by the concerned immigration / other authorities, and failure to provide such funds by the applicant shall not make Brigade Overseas Careers Consultancy ser Pvt Ltd liable for any rebate of the service charges or part thereof. The funds to be shown may range from INR 1-10 lakhs (the amount would increase in case if you are accompanied by dependents) which is acceded to by the client, and these might be required for a particular time period which might range from 1-12 months tentatively and may vary. The failure of exhibiting the same while applying for a visa may lead to the application being denied or not accepted. In such cases, no refund request of service charges will be invited.</p>
</div>
</body>
{%endblock%}