{%extends 'base.html'%}
{%block content%}

<div class="card-deck">
  <div class="card bg-primary">
   <img class="card-img-top" src="/media/satti.jpg" alt="Card image" style="height:50%;">
    <div class="card-body text-center">
      <p class="card-text"><b>Hai my name is SATISHKUMAR.Here iam to help you about yours abroad planning.I will share my experiences with you which will motivate you and encourage you.I'll also give you tips how to earn money.</b></p>
    </div>
  </div>
  <div class="card bg-warning">
  <img class="card-img-top" src="/media/raj.jpg" alt="Card image" style="height:50%;">
    <div class="card-body text-center">
      <p class="card-text"><b>HAi my name is RAJKUMAR.Iam working in this company for more than 45 years and i had encouraged many people who are going for other places.I got an award called kichku for my extra service and from now u can call me KICHKU</b></p>
    </div>
  </div>
  <div class="card bg-success">
   <img class="card-img-top" src="/media/app.jpg" alt="Card image" style="height:50%;">
    <div class="card-body text-center">
      <p class="card-text"><b>My name is "APPS".Iam giving my free services to people to have an idea about foreign countries.I am very good in english and i had achieved a great award called ENGLISHRATNA.Iam so happy to help you and encouage you for u r abroad planning.THANKYOU</b></p>
    </div>
  </div>
  <div class="card bg-danger">
   <img class="card-img-top" src="/media/teja.jpg" alt="Card image" style="height:50%;">
    <div class="card-body text-center">
      <p class="card-text"><b>My name is TEJA.iam working in this process for last two years and now i become HR for this company.Some people who were working here for last 45 years are still in the same position because of their laziness and thier slow work.So iam u r head to lead u to abroad.</b></p>
    </div>
  </div> 
</div>
{%endblock%}
