{%extends 'base.html'%}
{%block content%}

<style>
h2 {
background-color:lightblue;
}
body
{
font-weight:bold;
}
div{
  padding-right:80px;
  padding-left: 80px;
}
</style>

<body>
<div>
<h2>DECLARATION</h2>
<h5>Client Login</h5>          
<h5>Register Complaint</h5>
<p>Brigade is associated with ICCRC agent who are the direct attorney of Canadian Immigration in order to provide the best service to it's clients.
We declare that we are neither an registered MARA member or is related to one of them and are just acting as a documentation guide.However if a client intends to process only through an MARA agent We help our clients to get job done by the MARA agent by finding one and collects the remuneration as brokerage or commission from the parties.

We are not related to any of the government agencies of Canada, Australia, Denmark or any country as such for which we provide Documentation assistance or has any relation with the Immigration offices of these countries.

BRIGADE-VISAS does not guarantee a candidate a job or a visa. No employee of BRIGADE-VISAS is permitted to do so. Visas are at the discretion of the visa officer and immigration department/embassy or consulate. Jobs are at the discretion of the employer only. No one can influence this decision and if an employee of BRIGADE-VISAS promises you the same, please contact us immediately.</p>
</div>
</body>
{%endblock%}