{%extends 'base.html'%}
{%block content%}


<body>

<div style="background-color:AliceBlue; padding-left:80px;padding-right:80px;">
<h2 style="text-align:center;">Visit Visas</h2>
</div>

<br> </br>

<div style="background-color:DeepSkyBlue; padding-left:80px;padding-right:80px;">
<h2 style="text-align:center;">Visit Visas-TejaVisas</h2>
</div>

<div style="text-align:center; background-color:GhostWhite ">
<br></br>
<a class="navbar-brand" href="/contactus">
<h4  style="text-align:center;background-color:Gainsboro;">ContactUs</h2>
<br></br>
</a>
</div>
{%endblock%}
