{%extends 'base.html'%}
{%block content%}
<style>
div{
  padding-right:80px;
  padding-left: 80px;
}
</style>
<body>
<div>
<h2 style='background-color:lightblue;'>PRIVACY POLICY</h2>
<h5>Client Login</h5>          
<h5>Register Complaint</h5>
<p>BRIGADE-VISAS overseas excelles in maintaining the confidentiality and privacy of its clients.
It shouldn’t be a point of concern if we ask you to provide certain information whilst using the website.Rest assured, the information will be used with accordence to the privacy policy and will not be shared or misused under any cirscumtances.</p>
<h5>Information we may collect:</h5>

<p>Personal information, Contact information, professional information and email address</p>

<h5>Misseleanious information pertaining to our services</h5>

<h5>Usage of collected information:</h5>
<p>The information collected from our clients is used only in accordance to the law and as per the authorisation. 
BRIGADE-VISAS makes every effort to maintain the confidentiality of any information submitted by users to our system and our database of BRIGADE-VISAS. The user is however warned that the use of the internet or e-mail for confidential or sensitive information is susceptible to risks that inevitably arise on this medium. Additionally, because BRIGADE-VISAS cannot control the conduct of others, we cannot guarantee that this information will remain confidential. Please use caution in deciding what information to input into the System. Do not make any confessions or admissions. The user should preferably describe their issue or dispute in the general terms only. Subscribing BRIGADE-VISAS using this service should refrain from asking any user to reveal any specific or confidential information through the service. BRIGADE-VISAS is not responsible for the release or improper use of such information by users or any release due to error or failure in the System.</p>
</div>

{%endblock%}