{%extends 'base.html'%}
{%block content%}
<style>
body{
background-image:url('/media/t2.jpeg');background-repeat:no-repeat;
background-size:100%;
background-attachment:fixed;
color:blue;
}
p{
font-weight:bold;
}
div{
  padding-right:80px;
  padding-left: 80px;
}

</style>


<body>
<div>
<h1 style="background-color:powderedblue">TERMS&CONDITIONS</h1>
<h2>About this Website</h2>
<p>There are disclaimers throughout our website specifying that Brigade Overseas (this website) is an independent entity.</p>
<h2>Certifications<h2>
<p>Brigade Overseas has actually passed strenuous history checks that ensure the validity and the general legitimacy of our business.</p>
<h2>Intellectual property rights</h2>
<p>Other than where otherwise is stated, Brigade Overseas is the copyright holder of all the material, design, layout, data, trademark, graphics and company logos under thewww.Brigadevisas.com domain. Brigade Overseas will do its utmost to safeguard our rights, customers, intellectual property, employees, client and members. We will certainly not wait to take legal action if essential.</p>
<h2>Limitation of Liability</h2>
<p>Brigade Overseas will not be responsible for any kind of unusual or consequential loss that result from using, or failure to utilize, the materials on this website or the efficiency of the products, even if Brigade Overseas has actually been suggested of the opportunity of such loss. Relevant law will not permit the constraint of exclusion of liability or incidental or consequential loss so the above restriction or exclusion will not apply on you.</p>

<h2>Personal use Limitation</h2>
<p>The news, emails, articles, information, products and services offered by Brigade Overseas are for your personal and non-commercial use. You shall not tweak, duplicate, distribute, transfer, display, recreate, perform, publish, produce derivative jobs from, license, or sell any sort of details, or various other content, service or products acquired from Brigade Overseas without the express written consent from us.</p>
<p>Typographical Errors in Payment
On the occasion that Brigade Overseas product and services are erroneously noted at a wrong rate, we reserve the right to refuse or revoke any sort of orders detailed at the wrong price. Brigade Overseas has the right to decline or revoke any sort of such orders whether or not the order has been verified and your charge card billed. In case your credit card has actually been billed, a complete refund will be released in the amount of the incorrect cost.</p>

<p>Evaluations: 100% non-refundable
Job Search Services: 100% non-refundable</p>
<h2>Other Services</h2>
<p>100% non refundable if hard copy of agreement is not signed by you and properly returned to us.
100% non-refundable if you acquire and transform your mind later and determine to withdraw.
100% non-refundable if you do not want to proceed with our solutions.
100% non-refundable if you fall short to send the required documents within 60 days of sign up.
40% refundable if regulations change and you are ineligible for the service you have gone for and for our solutions offered by Brigade Overseas.
<h2>100% non-refundable if:</h2>
<p>Failing of medicals by the client or his/her relative included in the application.
Failing to provide an authentic Police Clearance Certification. The certificate should not be less than 3 months old.
Failure to show ample funds for settlement or maintenance by the customer or his/her relative included in the application.
Submission of deceptive documents.</p>
<h2>Our Products and Services</h2>
<p>Visa Pre Registration - Brigade Overseas offers a technical evaluation service which will certainly review your profile for a selected country and let you understand how many points have actually been scored by you. All the Reports are sent out within 2 Days of registration if all the details have actually been submitted in the form. The fee for an evaluation report is 100% non-refundable.

Migration Services - Brigade Overseas offers documentation and processing for immigration visas. All processing is undertaken at the back office in India, and you hereby agree to this setup. The fee for complete service is refundable only as per the conditions listed above.

Application Forms - Brigade Overseas provides a number of kinds of application forms for download as an added service to our clients. Forms are available for a fee on a registration basis.

Copyright Information - No copyright is declared on any kind of application form. The application given on our website is released by numerous overseas government agencies.</p>
<h2>Immigration Affirmation</h2>
<p>Applicant recognizes that it is his/her obligation to abide by the above terms and conditions as well as additional concur that Brigade Overseas (referred to as Company) reserves the right to validate and to end their services whenever if the candidate falls short to abide by the terms and conditions if they find that the information supplied by the candidate is found to be untrue/incomplete. The applicant agrees to read and understand the adhering terms and conditions and also agrees to follow the very same.

Brigade Overseas agrees to render the following services to the above mentioned customers:
Brigade Overseas will certainly help the candidate to know the processing time, funds and procedures of filing the application.
Brigade Overseas will offer a contemporary checklist of the documents that are to be sent while filing the application. </p>
</div>
</body>
{%endblock%}